<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'blocks/links.html' %}
  </head>
  <body>
    {% include 'blocks/header.html' %}
    <h1>Привет!</h1>
    <h4>Сейчас ты в приложении "DRF", в котором я изучаю и практикую Django Rest Framework.</h4>
    <a href="#">Practice 1.</a>

    <p>Используемая литература:</p>
    <ol>
      <li>Lightweight Django, Julia Elman & Mark Lavin</li>
    </ol>
    {% include 'blocks/footer.html' %}
  </body>
</html>
