<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'blocks/links.html' %}
    <link rel="stylesheet" href="{% static 'css/IndexApp/cv.css' %}">
  </head>
  <body>
    {% include 'blocks/header.html' %}
      <div class="content">
        <div class="about">
          <div class="about-header">
            <h3>
              Здравствуйте{% if user.is_authenticated %}, {{ user.profile }}{% endif %}.
              Вы находитесь на сайте, владельцами которого являются Михаил Кукол
              и Олег Якуц. Этот сайт, веб-приложение, является нашим совместным
              резюме, которое отображает наше портфолио. Здесь Вы можете найти
              все наши наработки, увидеть что мы уже умеем. Возможно, некоторый
              функционал не работает - это потому, что он либо не закончен
              (над ним до сих пор ведутся работы), либо мы ещё не разобрались как
              это делать :). Надеемся, что Вы хорошо проведете время, находясь тут.
              А мы пока приведем ниже наши резюме в классическом стиле (над стилями
              каждого мы работали отдельно).
            </h3>
          </div>
          <div class="about-content">
            <div class="about-misha">
              <img src="{{ misha.photo.url }}" alt="Unable to load his photo.">
              <h4>Михаил Кукол</h4>
              <p>Дата рождения: {{ misha.birth_date }}</p>
              <p>
                Образование: Одесская Национальная Академия Связи им. А.С. Попова.
                Неоконченное высшее (Бакалавр). Институт инфокоммуникаций и программной
                инженерии. Факультет программной инженерии.
              </p>
              <p>Опыт работы: отсутствует.</p>
              <br>
              <p>
                Профессиональные навыки (Hard Skills):
                <ul>
                  <li>Python</li>
                  <li>Low-Level: JavaScript, C++, C#</li>
                  <li>Back-end: Django, Django Rest Framework, PostgreSQL</li>
                  <li>Front-end: HTML, CSS, JQuery, Bootstrap</li>
                  <li>Git</li>
                  <li>PEP 8</li>
                </ul>
              </p>
              <p>
                Социальные навыки (Soft Skills):
                <ul>
                  <li>Языки: русский (носитель), украинский (свободный), английский (B1-B2, без говорения).</li>
                  <li>Коммуникабельность, умение общаться с людьми, работать в команде (3 года в сфере обслуживания).</li>
                  <li>Умение слушать и воспринимать конструктивную критику.</li>
                  <li>Умею работать быстро и продуктивно, если горят дедлайны :)</li>
                  <li>Опыт управления людьми (со-учреждение в опрделенной сфере).</li>
                </ul>
              </p>
              <p>Желаемая должность: Junior Django developer</p>
              <p>
                Оконченные курсы:
                <ul>
                  <li><a href="https://www.udemy.com/course/django-with-geolocation">Django with GeoLocation</a></li>
                  <li><a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp">Python and Django Full Stack Web Developer Bootcamp</a></li>
                </ul>
              </p>
              <p>
                Ссылки:
                <ul>
                  <li><a href="https://github.com/mykhailokukol">GitHub</a></li>
                  <li><a href="https://www.instagram.com/na_dobive/">Instagram</a></li>
                </ul>
              </p>
              <p>
                Контакты:
                <ul>
                  <li>mykhailokukol@gmail.com</li>
                  <li>+38 (095) 583-57-72 (Украина)</li>
                  <li><a href="https://t.me/hookukol">Telegram</a></li>
                </ul>
              </p>
              <br>
              <p>Спасибо за Ваше время и до встречи!</p>
            </div>
            <div class="about-oleg">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
      </div>
    {% include 'blocks/footer.html' %}
  </body>
</html>
