<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome Page</title>
	{% include 'blocks/links.html' %}
	<link rel="stylesheet" href="{% static 'css/IndexApp/index.css' %}">
</head>
<body>
{% include 'blocks/header.html' %}
	<div class="content">
		<div class="posts-content">
			<div class="posts-list">
				{% for post in posts %}
					<div class="post">
						<h3>{{ post.title }}</h3>
						<p>{{ post.text }}</p>
						<!-- TODO: Перечисление лайкнувших пользователей в виде ссылок на их профили -->
						<!-- Если кол-во лайков больше 1, то они перечисляются через запятую -->
						<p>Нравится: {% for user in post.likes.all %}{% if post.likes.all.count > 1 %}{{ user }}, {% else %}{{ user }}{% endif %}{% endfor %}</p>
						{% if request.user.is_authenticated %}
							<form class="" action="{% url 'like_post' post.pk %}" method="post">
								{% csrf_token %}
								<button type="submit" name="post_id" value="{{ post.id }}">{% if not request.user in post.likes.all %}Нравится{% else %}Не нравится{% endif %}</button>
							</form>
						{% endif %}
						{% if post.edited != post.created %}
						  <p>Изменено: {{ post.edited }}</p>
						{% endif %}
						<p>Опубликовано: {{ post.created }}</p>
						<p>Автор: <a href="{% url 'profile_page' post.author.profile.pk %}">{{ post.author }}</a></p>
						{% for comment in comments %}
							{% if comment.post == post %}
								<div class="comment">
									<h4>{{ comment.user }}</h4>
									<p>{{ comment.text }}</p>
								</div>
							{% endif %}
						{% endfor %}
						{% if request.user.is_authenticated %}
							<form class="" action="{% url 'add_comment' post.pk %}" method="post">
								{% csrf_token %}
								{{ AddCommentForm.as_p }}
								<button type="submit" name="post_comment_id" value="{{ post.id }}">Добавить комментарий</button>
							</form>
							{% if request.user == post.author %}
							  <p><a href="{% url 'post_edit_page' post.id %}">Редактировать</a></p>
								<p><a href="{% url 'post_delete_page' post.id %}">Удалить</a></p>
							{% endif %}
						{% else %}
							<p><a href="{% url 'login' %}">Авторизируйтесь</a>, чтобы иметь возможность оставлять комментарии.</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="post-create">
				{% if request.user.is_authenticated %}
					<form class="" action="{% url 'index_page' %}" method="post">
						{% csrf_token %}
						{{ PostForm.as_p }}
						<button type="submit" name="button">Опубликовать</button>
					</form>
				{% else %}
					<p>Тут, кажется, что-то должно быть...</p>
				{% endif %}
			</div>
		</div>
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
				  <a href="?page=1">&laquo; Начальная</a>
					<a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
				{% endif %}

				<span class="current">
					Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
				</span>

				{% if page_obj.has_next %}
				  <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>

{% include 'blocks/footer.html' %}
</body>
</html>
