header {
  background-color: #d7d7d9;

  margin: 0;
  padding: 0;

  font-family: 'Play', sans-serif;

  padding-top: 15px;
  padding-bottom: 15px;

  width: 100%;
  display: flex;
}

#header_main {
  font-weight: bold;
}

header a {
  flex: auto;
  text-align: center;
  margin: 0 5px;
  padding: 5px 0;
  text-decoration: none;
  color: #5d5d61;
  text-shadow: 0.5px 0.5px;
}

header a:hover {
  color: #70a5ff;
  text-decoration: underline;
}

header a:hover#logout {
  color: #bf0000;
}

body {
  margin: 0;
}

.content {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #ededed;
  font-family: 'Exo 2', sans-serif;
}

.content a {
  color: #70a5ff;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

#prof_img {
  height: 128px;
  width: 128px;
}

.btn {
  background-color: #d5e6f0;
  border: 0;
  color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

.btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.4s ease;
}

.btn-danger {
  background-color: #f0cccc;
}

.danger:hover {
  color: #bf0000;
}
